#react .bm-burger-button {
  height: 33px;
  right: 9px;
  top: 7px;
  left: unset;
}

#react .bm-menu {
  overflow: unset !important;
}

#react .bm-overlay {
  left: 0;
}

#react .bm-item-list {
  padding: 0;
}

#react .bm-item-list > div,
#react .bm-item-list > label {
  padding-bottom: 10px;
}
