/* Styles for the navigation bar at the top */
.navBarContainer {
  display: flex;
  height: 50px;
  background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navBarContainer a {
  color: #5e5e5e;
  text-decoration: none;
}

.navBarContainer a:hover {
  color: #333;
  text-decoration: none;
}

.navBarContainer .github {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 12px;
}

.navBarContainer .logo {
  text-shadow: 1px 1px 0 rgb(223, 227, 229), 2px 2px 0 rgba(0, 0, 0, 0.25);
  font-size: 33px;
  padding-right: 10px;
  padding-left: 5px;
}

.navBarContainer .search {
  width: 100%;
  max-width: 400px;
  margin-right: 0;
  margin-left: auto;
  margin-top: 5px;
}
