.container.googleMapContainer, #shipwrecks {
    min-height: 400px;
    float: left;
}

.angular-google-map-container {
    height: 380px;
    width: 100%;
}

.container.googleMapContainer {
    border: 10px solid #ffffff;
    box-shadow: 0 0 5px #cccccc;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 49%;
    padding-left: 0;
    padding-right: 0;
}

#shipwrecks {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 49%;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 0 5px #cccccc;
    padding-top: 0;
    opacity: 0.9;
}

#shipwrecks h1 {
    margin-top: 5px;
    font-size: 45px;
}

#mainContainer {
    width: 100%;
    padding: 90px 0 0 0;
}

.body {
    background: #f5f5f5;
    background-image: url("/images/Ships_on_a_rough_sea.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
}

.noShipwreckSelected {
    font-style: italic;
    text-align: center;
    line-height: 352px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    background-color: #f5f5f5;
    text-align: center;
}

.footer.well {
    margin-bottom: 0;
}